.garland {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 10px 100px;
    background-image: url("./assets/img/line.png");
    background-repeat: repeat-x;
    background-position-x: -100px;
}